body {
    font-family: Arial, sans-serif;
}

#book-container {
    margin: auto;
    max-width: 800px;
}

#pdf-container {
    width: 100%;
    height: auto;
    margin: auto;
}

canvas {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 1rem;
}

#hospital-page {
    background-color: #17a2b8;
    color: white;
}

#hospital-page:hover {
    background-color: #138496;
    color: white;
}

.btn-group, #hospital-page {
    margin-bottom: 20px;
}
