/* Estilos encapsulados para evitar conflictos con Bootstrap */
#booklet-container {
    max-width: 900px;
    margin: auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
}

/* Estilos del botón del hospital */
.btn-hospital {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-hospital:hover {
    background-color: #218838;
}
