/* Estilos para que todas las im치genes tengan un tama침o uniforme */
#mybook img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Mantener la proporci칩n de las im치genes */
}

.btn-hospital {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
}

.btn-hospital:hover {
    background-color: #218838;
}
