body {
    font-family: 'Georgia', serif;
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
}

#flipbook {
    margin: 40px auto;
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page {
    width: 100%;
    height: 100%;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #005f6b;
}
